*,
*::before,
*::after {
    box-sizing: border-box;
}
.header-about {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 156px;

}
.header-about .container{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.container .address-about{
    display: flex;
}

.ul-about1{
    display: flex;
    gap: 21px;

}
.address-about{
    display: flex;
    gap: 21px;

}

body{
    font-family: "Roboto", sans-serif ;
 
}
.title-about{
 
    background-color: #FFFFFF;
    color: #4D5AE5;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3125;
        letter-spacing: 0.03em;
        text-align: left;
 
    
}
.studio{
    color: #2E2F42;
        text-decoration: none;
            list-style-type: none;
            font-family: Raleway;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.3125;
                letter-spacing: 0.03em;
                text-align: left;
         
}
h1 {
    text-align: center;
    font-size: 56px;
    line-height: 3.75em;
    letter-spacing: 2%;
    color: #FFFFFF;
}

.button-about {
    text-align: center;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.button-about:hover{
    background-color: #404BBF;
}
.main-about {
    text-align: center;
    background-color: #2E2F42;
    align-self:auto ;
}

.title{
    text-decoration: none;
    color: #2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        cursor: pointer;   
        width: Hug (261px)px;
            height: Hug (24px)px;
            top: 24px;
            left: 347px;
            gap: 40px;
            opacity: 0px;
      
}
.title:hover {
        color: #404BBF;
}
.title1:active{
    color: #404BBF;
}
.address{
    text-decoration: none;
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.02em;
        cursor: pointer;
      display: flex;
}
.address:hover{
    color:#404BBF
}


.li1 {

    margin-right: 32px;
}

.li2 {
    margin-right: 32px;
}

.li3 {
    margin-right: 32px;
}

.li4 {
    margin-right: 32px;
}
ul {
    list-style-type: none;
    text-align: center;
    display: flex;

}
h2{
    color: #2E2F42;
    background-color: #F4F4FD;
        font-size: 36px;
        font-weight: 700;
        line-height: 2.5em;
        letter-spacing: 0.02em;
        text-align: center;
}
.ul-about{
background-color: #F4F4FD;
text-align: center;

}


h3{
    color: #2E2F42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5em;
        letter-spacing: 0.02em;
}
p{
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5em;
        letter-spacing: 0.02em;
}
.portfolio{
    background-color: #FFFFFF;

    
}
.page-portfolio{
    gap: 32px;

}
.footer-title {
    color: #4D5AE5;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3125em;
        letter-spacing: 0.03em;
        text-align: left;
            margin-left: 156px;
}

.footer-studio {
    color: #F4F4FD;
    text-decoration: none;
    list-style-type: none;
    font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.3125em;
        letter-spacing: 0.03em;
        text-align: left;
      
}
.footer-p{
color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
        width: 264px;
        height: 112px;
        top: 3088px;
        left: 156px;
        gap: 0px;
        opacity: 0px;
        margin-left: 156px;
}
.footer-about{
    background-color: #2E2F42;

}